// colors
$mainColor: #C12B1A;
$mainColor2: #FBB901;
$defaultColor: #5E1754;
$flatFFF: #FFF;
$flat75: #757575;
$flatblack: #000;
$flatblack1: #111;

// media
$maxExtraMobile: 575px;
$maxMobile: 767px;
$maxMedium: 991px;

// transition
$trans: .4s;